<div class="jumbotron">
    <h1>Wamplash</h1>
    <p class="lead">A WAMP server based on .Net.</p>
    <p><a href="http://wamp.ws" class="btn btn-primary btn-lg">Learn about WAMP</a></p>
</div>

<div>
    Demos are copied from the <a href="https://demo.crossbar.io/">Crossbar demo page</a>.
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pub Sub</h2>
        <p>Subscribe and publish in a simple chat application.</p>
        <p><a class="btn btn-default" href="/demo/pubsub/">Demo</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guages</h2>
        <p>View guages move up and down based on streaming values.</p>
        <p><a class="btn btn-default" href="/demo/gauges/Gauges.html">Demo</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beatbox</h2>
        <p>Click buttons to play music.</p>
        <p><a class="btn btn-default" href="/demo/beatbox/BeatBox.html">Demo</a></p>
    </div>
</div>
