<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheSharp" version="2.1.0" targetFramework="net45" />
  <package id="CacheSharp.Redis" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" requireReinstallation="True" />
  <package id="StackExchange.Redis" version="1.0.281" targetFramework="net45" />
</packages>